# general things to ignore
build/
dist/
*.egg-info/
*.egg
.eggs
*.py[cod]
__pycache__/
*.so
*~
/tests/output
# due to using tox and pytest
.tox
.cache
.coverage
coverage_html_report
coverage.xml
bin/
include/
local
lib
pip-selfcheck.json
.virtualenv*
share
/activate*
pylint.html
/version.*
